/* ç Generics  */

img {
  max-width: 100%;
  max-height: 100%;
}

section {
  margin: 50px 0;
}

/* ç Colors  */

:root {
  --light-grey: rgb(190, 188, 187);
  --medium-grey: rgb(117, 117, 117);
  --dark-grey: rgb(31, 31, 31);
  --red: rgb(205, 61, 15);
  --blue-sky: rgb(5, 117, 207);
  --light-sky: rgb(45, 100, 230);
  --medium-blue: rgb(0, 67, 156);
  --dark-blue: rgb(22, 28, 59);
}

.light-grey {
  color: var(--light-grey);
}

.medium-grey {
  color: var(--medium-grey);
}

.dark-grey {
  color: var(--dark-grey);
}

.blue-sky {
  color: var(--blue-sky);
}

.light-blue {
  color: var(--light-blue);
}

.medium-blue {
  color: var(--medium-blue);
}

.dark-blue {
  color: var(--dark-blue);
}

.red {
  color: var(--red);
}

/* ç Utilities  */

.black-text {
  color: black;
}

.ms-minus-1 {
  margin-left: -10px;
}

.btn {
  color: white;
}

.btn.red {
  background-color: var(--red);
}

.btn.blue-sky {
  background-color: var(--blue-sky);
}

/* ç Header  */

#top-header {
  height: 30px;
  background-color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

#sony-logo {
  height: 16px;
  width: auto;
}

/* ç Jumbotron  */

.jumbotron {
  padding: 40px;
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

.jumbo-logo {
  width: 300px;
}

#returnal {
  background-image: url(img/jumbo-bg.png);
}
