img {
  max-width: 100%;
  max-height: 100%;
}

/* ç Colors  */
:root {
  --dark-grey: rgb(31, 31, 31);
  --light-grey: rgb(190, 188, 187);
  --red: rgb(205, 61, 15);
  --light-blue: rgb(0, 67, 156);
  --dark-blue: rgb(22, 28, 59);
}

/* ç Utilities  */

.black-text {
  color: black;
}

.btn {
  padding: 0 15px;
}

/* ç Header  */

#top-header {
  height: 30px;
  background-color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

#sony-logo {
  height: 16px;
  width: auto;
}

/* ç Jumbotron  */

.jumbotron {
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
}

#returnal {
  background-image: url(img/jumbo-bg.png);
}

.jumbo-logo {
  width: 300px;
}
